langchain
langgraph
langchain-community
langchain-openai
langchain-google-genai
langchain-groq
langchain-ollama
langchain-chroma
langchain-huggingface
langchain-text-splitters
python-dotenv
streamlit
unstructured
tiktoken
ipykernel
huggingface_hub
sentence-transformers
chromadb
protobuf